
.carousel-item{
    width: 1500px;
    height: 500px;
}


.card-tittle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
}